requests==2.32.3
beautifulsoup4==4.12.3
sqlalchemy==2.0.30
scikit-learn==1.5.0
numpy==1.26.4
reportlab==4.1.0
spacy==3.7.4
transformers==4.41.0
torch==2.3.1
python-dateutil==2.9.0
tqdm==4.66.2
spacy-transformers
sentencepiece==0.2.0
protobuf==3.20.3
tokenizers 
gunicorn==21.2.0
python-dotenv==1.0.0
Flask==3.0.3